# Especificos del sistema de archivos
.DS_Store

# venv (actualizar al nombre de nuestro venv)
venv/

# Archivo pkl generado por el modelo de entrenamiento
codificaciones.pkl

# Imagenes
imagenes/*.jpg

# Credenciales
credenciales.json